/.idea
/logs
.DS_Store
/upload
/.vscode
sonic.db
sonic
__debug_bin
/resources/template/theme/
!/resources/template/theme/default-theme-anatole
!/resources/template/theme/sonic-theme-Journal
scripts/build/vendor
vendor
scripts/build/go.mod

__debug_bin*